<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Goyave.py</title>

    <script>
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);",timeoutPeriod);
            }
            
            window.onload = timedRefresh({{ refresh_time }} * 1000);
            
    </script>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-dark" style="background-color: #1d1d1d;">
        <a class="navbar-brand" href="#">Goyave.py</a>
    </nav>

    <div class="mt-3">
        <div class="row justify-content-md-center">
            {% for environment in environments %}
            <div class=" col-md-2">
                <div class="card text-white border-secondary mb-3">
                    <div class="card-header" style="background-color: #1d1d1d;">Environment : {{ environment['name'] }}</div>
                    <div class="card-body text-secondary">
                        {% for screen in environment['screens'] %}
                        {% if screen['status'] == "OK" %}
                            <div class="card text-white bg-success mb-3">
                                <div class="card-header">{{ screen['name'] }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">Online</h5>
                                    <p class="card-text">{{ screen['main_information'] }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="card text-white bg-danger mb-3">
                                <div class="card-header">{{ screen['name'] }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">Offline</h5>
                                    <p class="card-text">N/A</p>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>